:root {
    color-scheme: light dark;
}

body {
    width: 300px;
    height: 300px;
    padding: 10px;


    font-family: system-ui;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
}
